# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
Project Files/venv/
venv/
env/
ENV/
.venv/

# Model files (large)
*.h5
*.hdf5
*.keras

# Dataset / uploads
uploads/
dataset/
train/
test/
*.zip

# Kaggle credentials
kaggle.json

# Flask cache
instance/
.webassets-cache

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
